.banner {
  background-image: url(../../images/PremiereFilm.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 900px;
  border-bottom: 2px solid #2f2e2e;
}
