.header__nav-link {
  color: white;
  font-weight: 800;
  font-size: 16px;
  margin-right: 54px;
  opacity: 0.5;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  display: inline-block;
}

.header__nav-link:hover {
  opacity: 1;
}

.header__nav-link:last-of-type {
  margin-right: 0;
}

.header__nav-link::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  border-radius: 15px;
  height: 2px;
  width: 0;
  bottom: -5px;
}

.header__nav-link:hover::after {
  width: 100%;
}
